<#import "../../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Cadastro de Afastamento">    

<p>22/03/2018</p>  
        <h1>Afastamento</h1>
		
			
		 <p>Cadastre o pedido de Afastamento, e na página seguinte, cadastre os dados do Evento</p>    
			
	<div>
		<form target="_blank" action="/scap/afastamento" method="post">
	    <table>
	    	
	    	<!-- Matricula do professor -->
			<tr>
	            <th><label for="matricula"> Matrícula do Professor: </label></th>
	            <td><input  type="text" value="${(flash.matricula)!}" id="matricula" name="matricula"></td>
	        </tr>
	    	
			<!-- Motivo Afastamento -->
			<tr>
	            <th><label for="motivo"> Motivo do afastamento: </label></th>
	            <td><input  type="text" value="${(flash.motivo)!}" id="motivo" name="motivo"></td>
	        </tr>	
			
		
	      <!-- ônus -->
	      <tr>		
	            <th><label for="Onus"> Onus para a Universidade: </label></th>
	             <td><select   id="onus"  name="onus">
	            <!--
	           
	            	<#list onus as x>
  							<option value=x> ${x}</option>
  							
					</#list>
					-->
	            	  <option value="INEXISTENTE">INEXISTENTE</option>
	            	<option value="PARCIAL">PARCIAL</option>
	            	<option value="TOTAL">TOTAL</option>
	            </select></td>
	     </tr>
	     
	     <!-- Inicio do Afastamento -->
			<tr>
	            <th><label for="motivo"> Início do afastamento: </label></th>
	            <td><input  type="date" value="${(flash.inicioAfastamento)!}" id="inicioAfastamento" name="inicioAfastamento"></td>
	        </tr>
		
		<!-- Fim do Afastamento -->
			<tr>
	            <th><label for="motivo"> Fim do afastamento: </label></th>
	            <td><input  type="date" value="${(flash.fimAfastamento)!}" id="fimAfastamento" name="fimAfastamento"></td>
	        </tr>
		
		<!-- Falta : id do Evento (gerado automaticamente) -->
		<!-- Falta Solicitante  retirar do Login (juntar User.java que veio no Maven com o Pessoa do SCAP -->
		<!-- Data da Criação do Pedido, o sistema tem de prover-->
		<!-- Apagar dps -->
    
	    </table>
	
	    <p>
	    	
	    	<button type="submit" class="btn btn-primary">Informações do Evento</button> <button type="button" class="btn btn-primary" onclick="window.location.href='cadastroevento'"> Cancelar </button> 
	        
	        
	        <!--  <button type="button"  >Proxima Etapa</button> <input type="reset"
	            value="Reset">  -->
	            
	        <!-- copia de  segurança <input  type="submit" class="form-control" value="Send" /> <input type="reset"
	            value="Reset"> -->
	    </p>
	</form>
	</div>
</@layout.myLayout>